<div class="dont-break-out preserve-line-breaks">
  <div [ngClass]="isCurrent() ? 'text-light' : 'text-body'"
  [innerHTML]="(parentTitle$ && parentTitle$ | async) ? (parentTitle$ | async) : ('home.breadcrumbs' | translate)"></div>
</div>
<div class="dont-break-out preserve-line-breaks">
  <div class="fw-bold"
    [ngClass]="isCurrent() ? 'text-light' : 'text-primary'"
  [innerHTML]="dsoTitle"></div>
</div>
@if (description) {
  <ds-truncatable-part [maxLines]="1" [background]="isCurrent() ? 'primary' : 'default'" [showToggle]="false">
    <div class="text-secondary"
      [ngClass]="isCurrent() ? 'text-light' : 'text-secondary'"
    [innerHTML]="description"></div>
  </ds-truncatable-part>
}
