<main class="pcirn-list">
  <div class="pcirn-list-inner">
    <header class="pcirn-list-header">
      <h1>{{ 'collectionList.title' | translate }}</h1>
      <p>{{ 'collectionList.subtitle' | translate }}</p>
    </header>

    <ul class="pcirn-list-cards">
      @for (category of categories; track category.configuration) {
        <li>
          <a [routerLink]="['/search']" [queryParams]="{ configuration: category.configuration }">
            <span class="pcirn-list-icon" aria-hidden="true"><i [class]="'fas ' + category.icon"></i></span>
            <span class="pcirn-list-copy">
              <strong>{{ category.title | translate }}</strong>
            </span>
            <i class="pcirn-list-chevron fas fa-chevron-right" aria-hidden="true"></i>
          </a>
        </li>
      }
    </ul>
  </div>
</main>
